@model Zadatak02.Models.StudentModel

@{
    ViewBag.Title = "Potvrda";
}

<h2>Potvrda</h2>

<div>
    <h4>StudentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Natrag na unos", "Unos")
    @Html.ActionLink("Prikazi sve studente", "PrikaziStudente")
</p>
